<template>
  <div class="container">
    <text-slider class="text-slider text-slider--1"/>
    <text-slider direction="right" class="text-slider text-slider--2"/>
    <text-slider class="text-slider text-slider--3"/>
    <text-slider direction="right" speed="22.5s" class="text-slider text-slider--4"/>
    <div class="img-wrap--1">
      <img src="https://placeimg.com/900/1200/any" alt="" class="img">
    </div>
    <div class="img-wrap--2">
      <img src="https://placeimg.com/580/775/any" alt="" class="img">
    </div>
    <div class="img-wrap--3">
      <img src="https://placeimg.com/650/980/any" alt="" class="img">
    </div>
    <div class="img-wrap--4">
      <img src="https://placeimg.com/1050/1017/any" alt="" class="img">
    </div>
  </div>
</template>

<script>
import TextSlider from '@/components/TextSlider'

export default {
  components: {
    TextSlider
  }
}
</script>

<style lang="scss" scoped>
  .container {
    position: relative;
    margin-top: 140px;

    @include media-down(xxl) {
      margin-top: 40px;
    }
  }

  .img-wrap {
    &--1 {
      margin-left: 40px;
      width: 46%;
      position: relative;
      z-index: 3;

      @include media-down(md) {
        width: 87.5%;
        margin-left: 0;
      }
    }

    &--2 {
      width: 30%;
      position: absolute;
      top: 140px;
      right: 0;
      z-index: 2;

      @include media-down(md) {
        position: relative;
        width: 58%;
        top: -35px;
        left: 100%;
        transform: translateX(-100%);
      }
    }

    &--3 {
      width: 34%;
      margin-top: -170px;
      position: relative;
      transform: translateX(-100%);
      left: 50%;
      z-index: 2;

      @include media-down(xxl) {
        margin-top: -100px;
      }

      @include media-down(xl) {
        margin-top: -60px;
      }

      @include media-down(md) {
        width: 53.75%;
        margin-top: -68.5%;
        z-index: 1;
      }
    }

    &--4 {
      width: 55%;
      margin-top: -65%;
      position: relative;
      transform: translateX(-100%);
      left: 100%;
      z-index: 0;

      @include media-down(md) {
        width: 100%;
        margin-top: -14%;
      }
    }
  }

  .img {
    width: 100%;
  }

  .text-slider {
    position: absolute;
    z-index: 5;

    &--1 {
      top: 220px;

      @include media-down(lg) {
        top: 175px;
      }
    }

    &--2 {
      top: 550px;

      @include media-down(xxl) {
        top: 440px;
      }

      @include media-down(lg) {
        top: 350px;
      }
    }

    &--3 {
      top: 880px;

      @include media-down(xxl) {
        top: 660px;
      }

      @include media-down(lg) {
        top: 525px;
      }
    }

    &--4 {
      top: 1210px;

      @include media-down(xxl) {
        top: 880px;
      }

      @include media-down(lg) {
        top: 700px;
      }
    }
  }
</style>
