<template>
  <section
    :style="{height: height}"
    class="section"
  >
    <gallery
      ref="gallery"
      :district="currentDistrict"
      @reloadHeight="setSectionHeight"
    />
    <div class="districts districts--desktop">
      <marquee
        v-for="(districts, index) in districtsArray"
        :key="index"
        :districts="districts"
        :current-district="currentDistrict"
        @changeCurrentDistrict="changeCurrentDistrict"
      />
    </div>
    <div class="districts districts--mobile">
      <marquee
        v-for="(districts, index) in districtsArrayMobile"
        :key="index"
        :districts="districts"
        :current-district="currentDistrict"
        @changeCurrentDistrict="changeCurrentDistrict"
      />
    </div>
  </section>
</template>

<script>
import Gallery from '@/components/Gallery'
import Marquee from '@/components/Marquee'

export default {
  components: {
    Gallery,
    Marquee
  },
  data () {
    return {
      height: '100vh',
      currentDistrict: 'bielany',
      districtsArray: [
        ['bemowo', 'bialoleka', 'bielany', 'mokotow', 'ochota', 'bemowo', 'bialoleka', 'bielany', 'mokotow', 'ochota'],
        ['pragapn', 'pragapd', 'rembertow', 'srodmiescie', 'pragapn', 'pragapd', 'rembertow', 'srodmiescie'],
        ['targowek', 'ursus', 'ursynow', 'wawer', 'mazowieckie', 'targowek', 'ursus', 'ursynow', 'wawer', 'mazowieckie'],
        ['wesola', 'wilanow', 'wlochy', 'wola', 'zoliborz', 'wesola', 'wilanow', 'wlochy', 'wola', 'zoliborz']
      ],
      districtsArrayMobile: [
        ['bemowo', 'bialoleka', 'bielany', 'mokotow', 'ochota', 'bemowo', 'bialoleka', 'bielany', 'mokotow', 'ochota'],
        ['pragapn', 'pragapd', 'rembertow', 'srodmiescie', 'pragapn', 'pragapd', 'rembertow', 'srodmiescie'],
        ['targowek', 'ursus', 'ursynow', 'wawer', 'mazowieckie', 'targowek', 'ursus', 'ursynow', 'wawer', 'mazowieckie'],
        ['wesola', 'wilanow', 'wlochy', 'wola', 'zoliborz', 'wesola', 'wilanow', 'wlochy', 'wola', 'zoliborz'],
        ['bemowo', 'bialoleka', 'bielany', 'mokotow', 'ochota', 'bemowo', 'bialoleka', 'bielany', 'mokotow', 'ochota'],
        ['pragapn', 'pragapd', 'rembertow', 'srodmiescie', 'pragapn', 'pragapd', 'rembertow', 'srodmiescie'],
        ['targowek', 'ursus', 'ursynow', 'wawer', 'mazowieckie', 'targowek', 'ursus', 'ursynow', 'wawer', 'mazowieckie'],
        ['wesola', 'wilanow', 'wlochy', 'wola', 'zoliborz', 'wesola', 'wilanow', 'wlochy', 'wola', 'zoliborz']
      ]
    }
  },
  mounted () {
    this.setSectionHeight()

    setTimeout(() => {
      this.setSectionHeight()
    }, 1500)

    this.$onResize(() => {
      this.setSectionHeight()
    }, 50)
  },
  methods: {
    changeCurrentDistrict (district) {
      this.currentDistrict = district
    },
    setSectionHeight () {
      window.setTimeout(() => {
        const { gallery } = this.$refs
        if (!gallery) return
        this.height = `${gallery.$el.getBoundingClientRect().height}px`
      }, 0)
    }
  }
}
</script>

<style lang="scss" scoped>
.section {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  opacity: 0;

  .pace-done & {
    opacity: 1;
  }

  @include media-down (md) {
    margin-top: 40px;
  }

  &::after {
    @include fill-space;
    content: '';
    height: 50%;
    background-image: url(/img/pattern.png);
    pointer-events: none;
    z-index: -1;
  }
}

.districts {
  position: absolute;
  top: -15vw;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transform: translate3d(0, 0, 0);

  &--mobile {
    justify-content: space-around;
    padding: 30px 0;
    top: 0;

    @include media-up (md) {
      display: none;
    }
  }

  &--desktop {
    justify-content: center;

    @include media-down (md) {
      display: none;
    }
  }
}
</style>
