<template>
  <section class="section">
    <div class="container">
      <div class="img-container">
        <img
          id="tShirtPFTK"
          src="/img/koszulka-mini@2x.png"
          srcset="
                /img/koszulka-mini.png 616w,
                /img/koszulka-mini@2x.png 1232w
          "
          sizes="50vw"
          alt="Koszulka"
          class="t-shirt"
        >
        <img
          id="bottlePFTK"
          src="/img/puszka@2x.png"
          srcset="
                  /img/puszka.png 387w,
                  /img/puszka@2x.png 774w
          "
          sizes="35vw"
          alt="Butelka i puszka"
          class="bottle"
        >
        <img
          id="capOnePFTK"
          src="/img/kapsla@2x.png"
          srcset="
                /img/kapsla.png 532w,
                /img/kapsla@2x.png 1064w
          "
          sizes="15vw"
          alt="Kapsel"
          class="cap-1"
        >
      </div>

      <div class="text-container">
        <h2 class="title">
          graj o króla<br>
          <span class="title__second-color">
            lub koszulkę
          </span>
        </h2>

        <p class="text">
          Ruszyła kolejna edycja loterii Królewskiego. Kup promocyjnego Króla, zajrzyj pod kapsel lub zawleczkę i&nbsp;sprawdź,
          czy wygrałeś. Do zgarnięcia unikatowe koszulki z&nbsp;nazwą Twojej dzielnicy lub miejscowości oraz puszki
          Królewskiego.
        </p>
      </div>
    </div>

    <plus18 class="plus18"/>
  </section>
</template>

<script>
import Plus18 from '@/components/18Plus'

export default {
  components: {
    Plus18
  }
}
</script>

<style lang="scss" scoped>
  .section {
    margin: -15vw 0 50px;

    @include media-down(md) {
      margin-top: 120px;
    }
  }

  .title {
    font-family: $black-font;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.19;

    &__second-color {
      color: #82080f;
    }

    @include media-down(xxl) {
      font-size: 60px;
    }

    @include media-down(md) {
      font-size: 35px;
      text-align: center;
    }
  }

  .text {
    width: 543px;
    margin-top: 10px;

    font-family: $regular-font;
    font-size: 21px;
    line-height: 1.5;
    letter-spacing: 0.6px;

    @include media-down(xxl) {
      font-size: 18px;
    }

    @include media-down(lg) {
      font-size: 15.5px;

      width: auto;
      padding: 0 90px;
    }

    @include media-down(md) {
      width: auto;
      font-size: 14px;
      text-align: center;
      padding: 0 40px;
    }
  }

  .img-container, .container {
    position: relative;
  }

  .t-shirt {
    width: 90%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);

    @include media-up(md) {
      width: 60%;
    }

    @include media-up(lg) {
      width: 32%;
      transform: translateX(-100%) translateX(-150px);
    }
  }

  .bottle {
    position: absolute;
    bottom: 0;
    width: 40%;
    transform: translate(-100%, -3%);
    left: 50%;

    @include media-up(md) {
      width: 28%;
    }

    @include media-up(lg) {
      width: 16%;
      transform: translate(-100%, 7%) translateX(-350px);
    }

    @include media-up(xl) {
      transform: translate(-100%, 7%) translateX(-400px);
    }
  }

  .cap-1 {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 38%;
    transform: translate(20%, -50%);

    @include media-up(md) {
      width: 27%;
    }

    @include media-up(lg) {
      width: 15%;
      transform: translate(-100%, -55%) translateX(-130px);
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;

    @include media-up(lg) {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 50%;
      align-items: normal;
      transform: translateY(-50%);
    }
  }

  .plus18 {
    position: relative;
    left: 50%;
    max-width: 50%;

    @include media-down(lg) {
      transform: translateX(-50%);
    }

    @include media-down(md) {
      max-width: none;
    }
  }
</style>
