<template>
  <div class="container">
    <t-shirt class="t-shirt"/>
    <tribune class="tribune"/>
  </div>
</template>

<script>
import TShirt from './TATTshirt'
import Tribune from './TATTribune'

export default {
  components: {
    TShirt,
    Tribune
  }
}
</script>

<style lang="scss" scoped>
  .container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    margin-top: 200px;

    @include media-down($width: 1900px) {
      flex-direction: column;
    }

    @include media-down(lg) {
      margin: 0;
      margin-top: 200px;
    }
  }

  .t-shirt, .tribune {
    width: calc(50% - 1.5px);

    @include media-down($width: 1900px) {
      width: 100%;
      margin-bottom: 20px;
    }

    @include media-down(md) {
      margin-bottom: 0;
    }
  }
</style>
