<template>
  <section class="wrap">
    <img src="https://placeimg.com/360/460/any" alt="Koszulka" class="img hide-mobile">

    <h2 class="title">
      kto rządzi<br>
      <span class="title__second-color">
        na trybunach<span class="hide-mobile">?</span>
      </span>
    </h2>

    <p class="text">
      Weź udział w Królewskiej loterii, wygraj nagrody i&nbsp;pokaż jak Twoja dzielnica wspiera swój klub! Każdy wygrana
      koszulka zwiekszą szanse Twojej dzielnicy na zapełnienie stadionowej trybuny.
    </p>

    <div class="buttons">
      <base-button is-small>
        zobacz wyniki
      </base-button>
    </div>
  </section>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
  .wrap {
    background: $accent-second;
    height: 400px;
    position: relative;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-down(md) {
      height: 350px;
    }
  }

  .img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;

    @include media-down($width: 1900px) {
      right: 120px;
    }

    @include media-down(lg) {
      right: 0;
    }
  }

  .title {
    font-family: $black-font;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.19;

    &__second-color {
      color: #82080f;
    }

    @include media-down(md) {
      font-size: 35px;
      text-align: center;
      margin: 0 !important;
    }
  }

  .text {
    width: 543px;
    margin-top: 10px;

    font-family: $regular-font;
    font-size: 13.2px;
    line-height: 1.5;
    letter-spacing: 0.6px;

    @include media-down(lg) {
      width: 380px;
    }

    @include media-down(md) {
      width: auto;
      text-align: center;
    }
  }

  .title, .text, .buttons {
    position: relative;
    z-index: 1;
    margin-left: 120px;

    @include media-down(lg) {
      margin-left: 40px;
    }

    @include media-down(md) {
      margin: 0 20px;
    }
  }

  .buttons {
    margin-top: 30px;

    @include media-down(md) {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: 15px;
    }
  }

  .button {
    width: 180px;
    margin: 10px 0 0;

    @include media-down(md) {
      margin: 0 0 10px;
    }
  }
</style>
