<template>
  <section :class="{ 'section--mounted': $store.state.gatePassed }" class="section">
    <h1 class="visually-hidden">
      Ruszyła loteria królewskiego
    </h1>
    <div
      id="aplaHero"
      ref="apla"
      class="apla"
    />
    <img
      id="tShirtHero"
      ref="tShirt"
      src="/img/koszulka@2x.png"
      srcset="
                /img/koszulka.png 616w,
                /img/koszulka@2x.png 1232w
      "
      sizes="75vw"
      alt="Koszulka"
      class="t-shirt"
    >

    <img
      id="titleHero"
      ref="title"
      src="/img/MojeMiejsce.svg"
      alt="Ruszyła loteria królewskiego"
      class="title"
    >

    <div class="buttons">
      <base-button is-ghost class="button" @click.native="scrollAndOpen">
        zobacz&nbsp;koszulki
      </base-button>
    </div>
  </section>
</template>

<script>
import isMobile from '@/assets/js/isMobile'

export default {
  data: () => ({
    instance: null,
    y: 0
  }),
  async mounted () {
    await this.$nextTick()
    this.instance = Scrollbar.get(document.querySelector('#scroll-wrapper'))

    if (!isMobile()) {
      const { tShirt, title } = this.$refs
      window.vh = window.vh || window.innerHeight

      let top = window.vh / 2

      window.addEventListener('resize', () => {
        top = window.vh / 2

        title.style.top = `${top + this.y / 20}px`
        tShirt.style.top = `${top + this.y / 3}px`
      })

      this.instance.addListener(({ offset: { y } }) => {
        this.y = y

        title.style.transition = 'transform 0s, opacity 1s'
        title.style.top = `${top + y / 20}px`

        tShirt.style.transition = 'transform 0s, opacity 1s'
        tShirt.style.top = `${top + y / 5}px`
      })
    }
  },
  methods: {
    scrollAndOpen () {
      this.instance.scrollIntoView(document.querySelector('#gallery-container'))
    }
  }
}
</script>

<style lang="scss" scoped>
  $transition: transform 1s, opacity 1s;

  .section {
    height: $vh;
    position: relative;

    &::after {
      @include fill-space;
      content: '';
      height: calc(100% + 100px);
      background-image: url(/img/pattern.png);
      pointer-events: none;
      z-index: -1;
    }
  }

  .section--mounted {
    .buttons {
      transform: translate3d(-50%, 0, 0);
    }

    .t-shirt {
      opacity: 1;
      transform: translate3d(-50%, -50%, 0) translateY(-10%);

      @include media-up(md) {
        transform: translate3d(-50%, -50%, 0) translateY(-5%);
      }
    }

    .title {
      opacity: 1;
      transform: translate3d(-50%, -50%, 0) translateY(0);
    }

    .apla {
      opacity: 1;
    }
  }

  .button {
    width: 186px;

    @include media-up(md) {
      width: 288px;
      margin: 0 15px;
    }

    @include media-up(xxl) {
      width: 344px;
    }
  }

  .buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate3d(-50%, 150px, 0);
    transition: $transition;

    display: flex;
    z-index: 2;

    @include media-up(md) {
      bottom: 40px;
    }
  }

  .t-shirt {
    @include center-self;
    width: 100%;
    transition: $transition;
    transform: translate3d(-50%, -50%, 0) translateY(-10%);
    opacity: 0;
    max-height: 100%;
    object-fit: contain;
    z-index: 0;

    @include media-up(md) {
      width: 70%;
      transform: translate3d(-50%, -50%, 0) translateY(-10%);
    }
  }

  .title {
    @include center-self;
    width: 75%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    transition: $transition;
    z-index: 2;

    @include media-up(md) {
      width: 65%;
    }

    @include media-up(lg) {
      width: 43%;
    }
  }

  .apla {
    @include center-self;
    width: calc(100% - 30px);
    height: 27%;
    transform: translate3d(-50%, -50%, 0) translateY(3%);
    opacity: 0;
    transition: $transition;
    background: #408849;

    @include media-up(md) {
      width: calc(100% - 80px);
      height: 26%;
    }

    @include media-up(lg) {
      width: 65%;
      height: 28%;
    }
  }
</style>
