@import './page-transition';

button {
  @include reset-button;
}

a {
  @include reset-link;
}

html, body {
  background: $accent;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: $regular-font;
  color: #fff;

  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 1px;

  @include media-up(md) {
    font-size: 18px;
  }

  @include media-up(xxl) {
    font-size: 20px;
  }
}

strong {
  font-family: $black-font;
}

*, *::after, *::before {
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.hide-mobile {
  @include media-down(md) {
    display: none !important;
  }
}

b {
  font-family: $black-font;
}
