@import '~sass-utils-collection';

@mixin district-name {
  height: 100%;
  cursor: pointer;
  stroke: #fff;
  stroke-width: 2px;
  fill: transparent;
  overflow: visible;

  .filled &,
  &:hover {
    fill: #fff;
  }
}
