.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: $accent;

  transition: opacity 0.3s;
}

.pace-inactive {
  opacity: 0;
  pointer-events: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 3rem;
  transform: translate(-50%, -50%) !important;
}

.pace .pace-progress::after {
  display: block;
  content: attr(data-progress-text);
  font-family: 'Nobel CE Bla', sans-serif;
  font-size: 6rem;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.1em;
  color: $accent;
  -webkit-text-stroke: 2px white;
}

.pace-progress::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: $accent;
  height: 100%;
  width: 6rem;
  z-index: 2;
}
