.pt {
  position: relative;

  &::after {
    @include fill-space;

    content: '';
    background-color: white;
    z-index: 10000;
    transform-origin: top;
    animation: pt-out 1s both;
  }
}

@keyframes pt-out {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
    pointer-events: none;
  }
}
