//Breakpoints
$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1170px,
  xl: 1440px,
  xxl: 1600px
);

// Colors
$accent: #b81821;
$accent-second: #cf1b25;

// Fonts
$light-font: 'Nobel CE Lt', sans-serif;
$regular-font: 'Nobel CE Reg', sans-serif;
$black-font: 'Nobel CE Bla', sans-serif;

$transition: 0.2s ease-out;

$vh: var(--vh);
