<template>
  <div class="wrap">
    <div class="img-wrap">
      <img src="/img/18.svg" alt="18+" width="22">
    </div>

    <p class="text">
      <b>Alkohol. Tylko dla pełnoletnich.</b><br class="only-mobile"> Jeżeli uważasz, że reklama naszego produktu
      narusza zasady Kodeksu Etyki Reklamy, <a rel="noopener" href="https://www.radareklamy.pl/kodeks-etyki-reklamy"><b>kliknij</b></a>.
      Administratorem Danych Osobowych przetwarzanych na tej stronie internetowej jest Grupa Żywiec S.A. ul. Browarna
      88, 34-300 Żywiec. Więcej informacji o ochronie Twojej prywatności znajdziesz w
      <a rel="noopener" href="https://grupazywiec.pl/polityka-prywatnosci/"><b>polityce prywatności</b></a> oraz
      <a rel="noopener" href="https://grupazywiec.pl/polityka-cookies/"><b>polityce cookies.</b></a>
    </p>
  </div>
</template>

<style lang="scss" scoped>
  .wrap {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-up(md) {
      flex-direction: row;
      align-items: normal;
      width: 500px;
    }

    @include media-up(xxl) {
      width: 785px;
    }
  }

  .text {
    font-size: 9px;
    line-height: 14px;
    text-align: center;
    margin-top: 5px;

    @include media-up(md) {
      font-size: 12px;
      line-height: 18px;
      text-align: left;
      letter-spacing: 0.45px;
    }

    @include media-up(xxl) {
      font-size: 13px;
    }
  }

  .img-wrap {
    min-width: 22px;

    @include media-up(md) {
      transform: translateY(7px);
      margin-right: 10px;
    }
  }

  .only-mobile {
    @include hide-up(md);
  }
</style>
