<template>
  <component :is="tag" :class="buttonClass" class="button">
    <slot/>
  </component>
</template>

<script>
export default {
  props: {
    tag: {
      type: String,
      default: 'button',
      validator: propValue => ['button', 'a'].includes(propValue)
    },
    isSmall: {
      type: Boolean,
      default: false
    },
    isGhost: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    buttonClass () {
      return [
        `button--${this.tag}`,
        {
          'button--small': this.isSmall,
          'button--ghost': this.isGhost
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  .button {
    height: 3.5em;

    font-size: 11px;
    font-family: $black-font;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;

    border: 2px solid white;
    background-color: white;
    color: $accent;

    @include media-up(md) {
      font-size: 16px;
    }

    @include media-up(xxl) {
      font-size: 20px;
    }

    transition: color $transition, background-color $transition;

    &:hover,
    &:focus {
      background-color: transparent;
      color: white;
    }

    &--ghost {
      background-color: transparent;
      color: white;

      &:hover,
      &:focus {
        color: $accent;
        background-color: white;
      }
    }

    &--small {
      border-width: 1px;
      font-size: 10px;
    }

    &--a, &--nuxt-link {
      @include reset-link;
      @include center-content;
    }
  }
</style>
