<template>
  <div>
    <component
      :is="`${district}-district`"
    />
  </div>
</template>

<script>
const requireComponent = require.context(
  './district-name', // The relative path of the district components folder
  true, // Look in subfolders

  // The regular expression used to match district component filenames
  // ./district-name/someDistrict).vue
  // ./district-name/subfolder/someDistrict.vue
  /District(\/Index)?\.vue$/i
)

const components = requireComponent.keys().reduce((components, fileName) => {
  // Get component name from file name
  // ./some-district/index.vue -> some-district
  // ./AnotherDistrict.vue -> AnotherDistrict
  const name = /\/(.*District)/i.exec(fileName)[1]

  components[name] = requireComponent(fileName).default

  return components
}, {})

export default {
  components,
  props: {
    district: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
