<template>
  <div
    ref="img"
    :class="[ {show: show}, `img-wrapper--${nr}`]"
    class="img-wrapper"
  />
</template>

<script>

export default {
  props: {
    src: {
      type: String,
      required: true
    },
    nr: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      scrollbar: null,
      show: false,
      parallaxRatio: 0,
      event: 'default'
    }
  },
  watch: {
    src (newSrc, oldSrc) {
      this.animateImg(newSrc, oldSrc)
    }
  },
  async mounted () {
    await this.$nextTick()
    this.scrollbar = Scrollbar.get(document.querySelector('#scroll-wrapper'))
    this.scrollbar.addListener(this.updateImgPosition)
    this.setBg()

    const handleResize = () => {
      this.parallaxRatio = window.innerWidth / 1500
      this.event = 'default'
      this.updateImgPosition()
    }

    this.parallaxRatio = window.innerWidth / 1500
    this.event = 'default'
    this.$onResize(() => { handleResize() })
  },
  methods: {
    updateImgPosition (status = { offset: { y: 0 } }) {
      const { img } = this.$refs
      if (!img || !img.children[0]) return

      if (window.innerWidth < 768) {
        img.children[0].style.transform = 'translate3d(0, 0, 0)'
        this.show = this.$refs.img.getBoundingClientRect().top >= status.offset.y - (window.innerHeight / 2)
      } else {
        // parallax
        let diff = Math.round((this.$refs.img.getBoundingClientRect().top - window.innerHeight) * this.parallaxRatio)
        if (this.event === 'update') diff -= 89 // fix smooth scroll bug

        if (diff < 0) {
          this.nr === 3
            ? img.children[0].style.transform = `translate3d(0, ${diff * 0.75}px, 0)`
            : img.children[0].style.transform = `translate3d(0, ${diff * 0.2 * (this.nr + 1)}px, 0)`
        }
        // e/o parallax
      }

      this.event = 'default'
    },
    setBg () {
      const { img } = this.$refs
      const imagePreloader = new Image()
      imagePreloader.src = this.src
      imagePreloader.alt = ''
      imagePreloader.classList.add('img')

      imagePreloader.onload = () => {
        img.appendChild(imagePreloader)
        this.$emit('loaded')
      }
    },
    animateImg (newSrc) {
      const { img } = this.$refs
      const imagePreloader = new Image()
      imagePreloader.src = newSrc
      img.classList.add('out')

      const resolveImg = () => {
        setTimeout(() => {
          img.removeChild(img.childNodes[0])
          img.appendChild(imagePreloader)
          img.classList.remove('out')
          img.childNodes[0].classList.add('img')

          this.event = 'update'
          this.updateImgPosition()
        }, 700)
      }

      if (imagePreloader.decode) {
        imagePreloader
          .decode()
          .then(() => {
            resolveImg()
          })
      } else { // edge fix
        resolveImg()
      }
    }
  },
  destroy () {
    this.scrollbar.removeListener(this.updateImgPosition)
  }
}
</script>

<style lang="scss" scoped>
.img-wrapper {
  transform: translateY(0);
  transition: transform .5s ease-out, opacity .4s ease-out;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  & /deep/ .img {
    object-fit: contain;
    object-position: 100% 50%;
    height: 100%;
    width: 100%;
  }

  &.show {
    transform: translateY(10%);
  }

  &.out {
    opacity: 0;
    transform: translateY(10%);
  }

  &--0 {
    grid-row: 1;
    grid-column: 1 / 3;
    justify-self: end;
    width: calc(100% - 40px);
    height: 100%;

    @include media-down (md) {
      grid-column: 1 / 5;
      justify-self: start;
      width: 87%;
      height: 100.5%;
    }
  }

  &--1 {
    grid-row: 1;
    grid-column: 3 / 5;
    justify-self: end;
    align-self: center;
    width: 63.5%;
    height: 66.5%;
    transition-delay: 0.1s;

    @include media-down (md) {
      grid-column: 1 / 5;
      grid-row: 2;
      margin-top: -21%;
      width: 57.8%;
      height: 132.2%;
    }
  }

  &--2 {
    grid-row: 2;
    grid-column: 1 / 3;
    margin-top: -32%;
    z-index: 1;
    justify-self: end;
    width: 67%;
    height: 147.3%;
    transition-delay: 0.15s;

    @include media-down (md) {
      grid-column: 1 / 5;
      justify-self: start;
      grid-row: 3;
      margin-top: -55%;
      width: 53.4%;
      height: 320.4%;
    }
  }

  &--3 {
    grid-column: 1 / 5;
    justify-self: end;
    margin-top: -23%;
    z-index: -1;
    grid-row: 2;
    width: 76.7%;
    height: 149%;
    transition-delay: 0.2s;

    @include media-down (md) {
      grid-column: 1 / 5;
      grid-row: 4;
      margin-top: -10%;
      width: 100%;
      height: 114%;
    }
  }
}
</style>
