<template>
  <div
    id="gallery-container"
    ref="gallery"
    class="gallery"
  >
    <gallery-img
      v-for="(img, index) in 4"
      :key="index"
      :nr="index"
      :src="photoSrc(index)"
      @loaded="imagesLoaded"
    />
  </div>
</template>

<script>
import GalleryImg from '@/components/GalleryImg'

export default {
  components: {
    GalleryImg
  },
  props: {
    district: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      images: 0
    }
  },
  methods: {
    imagesLoaded () {
      this.images++
      if (this.images >= 3) {
        this.$emit('reloadHeight')
      }
    },
    photoSrc (index) {
      return index === 1 ? `/dzielnice/${this.district}/2.gif` : `/dzielnice/${this.district}/${index + 1}.png`
    }
  }
}
</script>

<style lang="scss" scoped>
.gallery {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0;
  z-index: 1;
}
</style>
