<template>
  <div
    ref="marquee"
    :style="{width: width}"
    :class="{ 'marquee--active': isMounted }"
    class="marquee"
  >
    <div
      v-for="(district, index) in districts"
      :key="index"
      class="marquee-inner"
      @click="handleClick(district)"
    >
      <district-name
        :district="district"
        :class="{'filled': currentDistrict === district}"
        class="marquee-name"
      />
    </div>
  </div>
</template>

<script>
import DistrictName from '@/components/DistrictName'

export default {
  components: {
    DistrictName
  },
  props: {
    districts: {
      type: Array,
      required: true
    },
    currentDistrict: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      width: '100%',
      isMounted: false
    }
  },
  mounted () {
    this.$onResize(this.calculateMarqueeLength).fire()
    this.isMounted = true
  },
  methods: {
    handleClick (district) {
      this.$emit('changeCurrentDistrict', district)
    },
    calculateMarqueeLength () {
      const { marquee } = this.$refs
      if (!marquee) return

      if (/Edge/.test(navigator.userAgent)) { // edge fix
        marquee.childNodes.forEach(marqueeInner => {
          marqueeInner.style.width = `${marqueeInner.childNodes[0].scrollWidth + 80}px`
        })
      }

      const fullWidth = [].reduce.call(marquee.childNodes, (previousValue, currentValue) => {
        return previousValue + currentValue.childNodes[0].scrollWidth + 80
      }, 0)
      this.width = `${fullWidth}px`
    }
  }
}
</script>

<style lang="scss" scoped>
.marquee {
  display: flex;
  height: 28px;
  margin: 28px 0;
  transform: translateZ(0);
  will-change: transform;

  @include media-up (md) {
    height: 45px;
    margin: 53px 0;
  }

  @include media-up (lg) {
    height: 63px;
    margin: 83px 0;
  }

  @include media-up (xl) {
    height: 90px;
    margin: 120px 0;
  }

  &-name {
    height: calc(100% - 4px); // safari fix
    display: flex;
    align-items: flex-end;
    margin: 0 40px;
    overflow: visible;

    @include media-down (md) {
      height: 100%;
    }
  }

  &-inner {
    height: 100%;
  }

  &--active {
    &:nth-of-type(even) {
      animation: marqueeRight 20s 0.1s linear infinite;
    }

    &:nth-of-type(odd) {
      animation: marqueeReverse 20s 0.1s linear infinite;
    }
  }
}

@keyframes marqueeRight {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}


@keyframes marqueeReverse {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
</style>
