<template>
  <div :style="{ '--speed': speed }" class="slider-container">
    <div
      :class="{
        'slide--active': isMounted,
        [`slide--${direction}`]: direction
      }"
      class="slide"
    >
      <img
        v-for="n in 10"
        :key="n"
        src="/img/srodmiescie_krolewskie.svg"
        alt=""
        class="img"
      >
    </div>
  </div>
</template>

<script>
export default {
  props: {
    direction: {
      type: String,
      default: 'left'
    },
    speed: {
      type: String,
      default: '17.5s'
    }
  },
  data () {
    return {
      isMounted: false
    }
  },
  mounted () {
    this.$onResize(() => {
      this.isMounted = false
      setTimeout(() => {
        this.isMounted = true
      }, 10)
    }, 50)
    this.isMounted = true
  }
}
</script>

<style lang="scss" scoped>
  $animationTime: var(--speed);

  .img {
    height: 100%;
    padding-left: 40px;
  }

  .slider-container {
    width: 100%;
    height: 80px;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

    .slide {
      will-change: transform;
      display: block;
      white-space: nowrap;
      transform: translateZ(0);

      &--active.slide--left {
        animation: marquee $animationTime 0.1s linear infinite;
      }

      &--active.slide--right {
        animation: marquee-reversed $animationTime 0.1s linear infinite;
      }
    }

    @include media-down(xxl) {
      height: 63px;
    }

    @include media-down(lg) {
      height: 45px;
    }

    @include media-down(md) {
      height: 28px;
    }
  }

  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }

  @keyframes marquee-reversed {
    0% {
      transform: translate3d(-50%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
</style>
