<template>
  <main ref="gate" class="gate hidden">
    <img src="/img/logokrol.svg" alt="Królewskie" class="gate-logo">
    <img
      src="/img/bg.png"
      srcset="
      /img/bg.png 747w,
      /img/bg@2x.png 1494w
    "
      sizes="(min-width: 1170px) 33vw, 80vw"
      alt="Królewskie butelka"
      class="gate-bg"
    >
    <div class="gate-content">
      <p>Aby wejść na naszą stronę musisz być pełnoletni/a.</p>
      <p><strong>Wpisz datę urodzenia:</strong></p>
      <form ref="form" class="gate-form">
        <input
          ref="day"
          class="gate-input"
          type="number"
          placeholder="DD"
        >
        <input
          ref="month"
          class="gate-input"
          type="number"
          placeholder="MM"
        >
        <input
          ref="year"
          class="gate-input gate-input--year"
          type="number"
          placeholder="RRRR"
        >
        <div class="gate-form__button">
          <base-button
            ref="submit"
            class="button"
            is-ghost
            type="submit"
          >
            Wejdź
          </base-button>
          <!--          <button ref="button" class="button button&#45;&#45;ghost" type="submit">-->
          <!--            Wejdź-->
          <!--          </button>-->
        </div>
        <p ref="error" class="gate-form__error hidden"/>
      </form>
    </div>
  </main>
</template>

<script>
export default {
  async mounted () {
    await this.$nextTick()
    const Cookies = require('@/assets/js/cookies').default

    const error = message => {
      const { error, form } = this.$refs
      error.textContent = message

      if (message) {
        form.classList.add('gate-form--invalid')
        error.classList.remove('hidden')
      } else {
        form.classList.remove('gate-form--invalid')
        error.classList.add('hidden')
      }

      return message
    }

    const getFormData = () => {
      const { day, month, year } = this.$refs
      return {
        day: day.value,
        month: month.value,
        year: year.value
      }
    }

    const showGate = () => {
      document.body.style.overflow = 'hidden'
      this.$refs.gate.classList.remove('hidden')
    }

    const hideGate = () => {
      this.$refs.gate.classList.add('hidden')
      document.body.style.overflow = ''
    }

    const toggleInputs = evt => {
      const { year, submit } = this.$refs
      const input = evt.target

      if (input === year && input.value.length >= 4) {
        submit.$el.focus()
        return
      }

      if (input.value.length >= 2) {
        input.nextElementSibling && input.nextElementSibling.focus()
      }
    }

    const validateDate = ({ day, month, year }) => {
      const isValidDate = date => (
        /^(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(19|20)\d\d$/.test(date)
      )

      const formattedDate = `${month.padStart(2, '0')}${day.padStart(2, '0')}${year}`
      const userDate = new Date(year, month - 1, day).getTime()
      const minDate = new Date().setFullYear(new Date().getFullYear() - 18)

      if (!isValidDate(formattedDate) || year < 1900) {
        error('Wpisz poprawną datę urodzenia')
        return false
      } else if (userDate > minDate) {
        error('Strona dostępna jest tylko dla użytkowników pełnoletnich')
        return false
      }

      return true
    }

    const submit = () => {
      const { day, month, year } = this.$refs
      const formData = getFormData()

      if (validateDate(formData)) {
        this.$gtag && this.$gtag('event', 'gate_pass')
        this.$gtm && this.$gtm.push({ event: 'gate_pass' })
        this.$store.commit('passGate')
        Cookies.set('valid-age', true)
        hideGate()

        day.removeEventListener('input', toggleInputs)
        month.removeEventListener('input', toggleInputs)
        year.removeEventListener('input', toggleInputs)
      }
    }

    const vue = this
    Pace.on('done', () => {
      if (!Cookies.get('valid-age')) {
        vue.$gtag && vue.$gtag('event', 'gate')
        vue.$gtm && vue.$gtm.push({ event: 'gate' })
        showGate()

        const { day, month, year, form } = vue.$refs

        day.addEventListener('input', toggleInputs)
        month.addEventListener('input', toggleInputs)
        year.addEventListener('input', toggleInputs)

        form.addEventListener('submit', evt => {
          evt.preventDefault()
          submit()
        })
      } else {
        setTimeout(() => {
          vue.$store.commit('passGate')
        }, 500)
      }
    })
  }
}
</script>

<style lang="scss" scoped>
  .gate {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 12;
    background-color: $accent;

    &::after {
      @include fill-space;

      content: '';
      background-image: linear-gradient(to top, black, transparent);
      opacity: 0.4;
      pointer-events: none;
    }
  }

  .gate-logo {
    @include center-self(horizontally);

    width: 78px;
    height: 78px;
    top: 20px;

    @include media-up(lg) {
      width: 120px;
      height: 120px;
      top: 24px;
    }

    @include media-up(xxl) {
      top: 40px;
      width: 160px;
      height: 160px;
    }
  }

  .gate-bg {
    @include center-self(horizontally);

    @keyframes blur-out {
      0% {
        transform: translate3d(-50%, 20%, 0);
      }

      40% {
        transform: translate3d(-50%, 0, 0);
        filter: blur(0);

      }

      100% {
        filter: blur(6px);
      }
    }

    pointer-events: none;
    user-select: none;
    height: 85%;
    top: 15%;
    animation: blur-out 1.5s ease-out 0.25s;
    animation-fill-mode: both;

    @include media-up(lg) {
      height: 90%;
      top: 10%;
    }
  }

  .gate-content {
    @include center-self;

    @keyframes fade-up {
      from {
        transform: translate3d(-50%, -35%, 0);
        opacity: 0;
      }

      to {
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
      }
    }

    width: 100%;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.05em;

    color: white;
    z-index: 1;
    animation: fade-up 0.8s ease-out 0.9s;
    animation-fill-mode: both;

    @include media-up(lg) {
      font-size: 18px;
    }

    @include media-up(xxl) {
      font-size: 20px;
    }
  }

  .gate-form {
    display: flex;
    position: relative;
    max-width: 280px;
    margin: 0 auto;

    flex-wrap: wrap;
    justify-content: space-between;

    @include media-up(lg) {
      max-width: 440px;
    }

    &__button {
      position: relative;
      width: 80%;
      left: 10%;
      margin-top: 40px;

      @include media-up(lg) {
        margin-top: 56px
      }

      @include media-up(xxl) {
        margin-top: 64px;
      }
    }

    &__error {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;

      text-align: center;
      line-height: 1.5;
      padding: .5em 0;
      transform: translateY(100%);
      transition: opacity 0.3s;

      &.hidden {
        opacity: 0;
        display: block;
      }
    }
  }

  .gate-input {
    @include reset-input(number);

    font-family: $regular-font;
    width: 1.75em;
    color: white;
    font-size: 30px;
    line-height: 2;
    letter-spacing: 0.05em;
    padding-bottom: 0.1em;
    text-align: center;

    border-bottom: solid 2px white;

    @include media-up(lg) {
      font-size: 54px;
    }

    @include media-up(xxl) {
      font-size: 60px;
    }

    @include reset-placeholder;

    &--year {
      width: 2.65em;
    }
  }

  .hidden {
    display: none;
  }

  .button {
    width: 100%;
  }
</style>
