<template>
  <nav class="nav">
    <client-only>
      <a
        v-if="$store.state.withLandingReferrer"
        key="link"
        href="https://krolewskie.pl"
        class="logo-wrap"
      >
        <img src="/img/logokrol.svg" alt="Królewskie" class="logo">
      </a>
      <nuxt-link
        v-else
        key="nuxt-link"
        to="/"
        class="logo-wrap"
      >
        <img src="/img/logokrol.svg" alt="Królewskie" class="logo">
      </nuxt-link>
    </client-only>

    <base-button
      :tag="'a'"
      href="https://loteria.krolewskie.pl/"
      target="_self"
      rel="noopener"
      is-ghost
      class="button"
      @click.native="sendGtm"
    >
      weź udział w&nbsp;loterii
    </base-button>
  </nav>
</template>

<script>
export default {
  methods: {
    sendGtm () {
      this.$gtm && this.$gtm.push({ event: 'krok1' })
    }
  }
}
</script>

<style lang="scss" scoped>
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

    position: fixed;
    z-index: 9;
    width: calc(100% - 80px);
    top: 32px;
    left: 50%;
    transform: translateX(-50%);

    @include media-down(lg) {
      top: 24px;
    }

    @include media-down(md) {
      top: 15px;
      width: calc(100% - 30px);
    }
  }

  .logo-wrap {
    pointer-events: all;
  }

  .logo {
    width: 127px;
    height: 122px;

    @include media-down(xxl) {
      width: 94px;
      height: 90px;
    }

    @include media-down(md) {
      width: 55px;
      height: 54px;
    }
  }

  .button {
    pointer-events: all;
    width: 186px;

    @include media-up(md) {
      width: 288px;
    }

    @include media-up(xxl) {
      width: 344px;
    }
  }
</style>
