<template>
  <main>
    <nav-component/>
    <div id="scroll-wrapper" ref="scrollWrapper" class="scroll-wrapper">
      <nuxt/>
    </div>
    <age-gate/>
  </main>
</template>

<script>
import NavComponent from '@/components/TheNav'
import AgeGate from '@/components/TheGate'

export default {
  components: {
    NavComponent,
    AgeGate
  },
  mounted () {
    Scrollbar.init(this.$refs.scrollWrapper, { damping: 0.075 })
  },
  head () {
    return {
      meta: [
        { hid: 'og:image', name: 'og:image', content: '/img/og_krolewskie_loteria.jpg' }
      ],
      bodyAttrs: {
        class: 'pt'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .scroll-wrapper {
    height: $vh;
  }

  /deep/ {
    .scrollbar-track {
      background: none !important;
    }

    .scrollbar-track-y {
      right: 4px !important;
    }

    .scrollbar-thumb {
      background: rgba(#fff, 0.6) !important;
    }
  }
</style>

