<template>
  <div @mousemove="handleMove">
    <t-shirt-section/>
    <gallery-section/>
    <play-for-the-king-section ref="playForTheKing"/>
  </div>
</template>

<script>
import throttle from 'raf-throttle'

import TShirtSection from '@/components/sections/TShirt'
import GallerySection from '@/components/sections/Gallery'
import PlayForTheKingSection from '@/components/sections/PlayForTheKing'

export default {
  components: {
    TShirtSection,
    GallerySection,
    PlayForTheKingSection
  },
  data () {
    return {
      loaded: false
    }
  },
  computed: {
    gatePassed () {
      return this.$store.state.gatePassed
    }
  },
  watch: {
    gatePassed (newValue, oldValue) {
      if (newValue) {
        setTimeout(() => {
          this.loaded = true
        }, 1000)
      }
    }
  },
  mounted () {
    window.addEventListener('resize', this.onmousemove)
  },
  methods: {
    handleMove (event) {
      if (this.loaded) this.onmousemove(event)
    },
    onmousemove: throttle(({ clientX, clientY }) => {
      const relativeX = clientX / window.innerWidth
      const relativeY = clientY / window.innerHeight

      const capOne = document.querySelector('#capOnePFTK')
      const bottle = document.querySelector('#bottlePFTK')
      const tShirt = document.querySelector('#tShirtPFTK')
      const tShirtHero = document.querySelector('#tShirtHero')
      const apla = document.querySelector('#aplaHero')
      const title = document.querySelector('#titleHero')

      const breakpoints = {
        xxl: 1600,
        lg: 1170
      }

      const translates = {
        capOne: 0,
        bottle: 0,
        tShirt: 0,
        tShirtHero: 0,
        apla: 0,
        title: 0
      }

      const capsAndBottleAdditionalTranslate = `calc(${relativeX - 0.5} * 3.2vw), calc(${relativeY - 0.5} * 3.2vh)`
      const aplaAdditionalTranslate = `calc(${relativeX - 0.5} * 3.5vw), calc(${relativeY - 0.5} * -3.5vh)`
      const tShirtAdditionalTranslate = `calc(${relativeX - 0.5} * -3.2vw), calc(${relativeY - 0.5} * -3.2vh)`

      if (window.innerWidth > breakpoints.xxl) {
        translates.capOne = `translate(-100%, -55%) translate(${capsAndBottleAdditionalTranslate}) translateX(-130px)`
        translates.bottle = `translate(-100%, 7%) translate(${capsAndBottleAdditionalTranslate}) translateX(-400px)`
        translates.tShirt = `translateX(-100%) translate(${tShirtAdditionalTranslate}) translateX(-150px)`
        translates.title = `translate3d(-50%, -50%, 0) translateY(0) translate(${capsAndBottleAdditionalTranslate})`
        translates.apla = `translate3d(-50%, -50%, 0) translateY(3%) translate(${capsAndBottleAdditionalTranslate})`
        translates.tShirtHero = `translate3d(-50%, -50%, 0) translateY(-5%) translate(${tShirtAdditionalTranslate})`
      } else if (window.innerWidth > breakpoints.lg) {
        translates.capOne = `translate(-100%, -55%) translate(${capsAndBottleAdditionalTranslate}) translateX(-130px)`
        translates.bottle = `translate(-100%, 7%) translate(${capsAndBottleAdditionalTranslate}) translateX(-350px)`
        translates.tShirt = `translateX(-100%) translate(${tShirtAdditionalTranslate}) translateX(-150px)`
        translates.title = `translate3d(-50%, -50%, 0) translateY(0) translate(${capsAndBottleAdditionalTranslate})`
        translates.apla = `translate3d(-50%, -50%, 0) translateY(3%) translate(${aplaAdditionalTranslate})`
        translates.tShirtHero = `translate3d(-50%, -50%, 0) translateY(-5%) translate(${tShirtAdditionalTranslate})`
      } else {
        translates.capOne = ''
        translates.bottle = ''
        translates.tShirt = ''
        translates.tShirtHero = ''
        translates.apla = ''
        translates.title = ''
      }

      tShirtHero.style.transition = 'none'
      apla.style.transition = 'none'
      title.style.transition = 'none'

      capOne.style.transform = translates.capOne
      bottle.style.transform = translates.bottle
      tShirt.style.transform = translates.tShirt
      tShirtHero.style.transform = translates.tShirtHero
      apla.style.transform = translates.apla
      title.style.transform = translates.title
    })
  }
}
</script>

<style lang="scss" scoped>
</style>

