<template>
  <svg
    viewBox="0 0 797 92"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M73.4,65.16 C73.4,80.88 60.92,90 41.24,90 L0.08,90 L0.08,2.4 L38.36,2.4 C56.72,2.4 68.84,11.16 68.84,25.92 C68.84,34.68 63.2,41.76 55.64,44.64 C65.72,46.08 73.4,55.08 73.4,65.16 Z M43.88,29.76 C43.88,23.88 39.56,21.96 31.88,21.96 L27.44,21.96 L27.44,38.28 L31.88,38.28 C39.8,38.28 43.88,35.52 43.88,29.76 Z M47.48,61.92 C47.48,56.64 43.52,54.12 36.32,54.12 L27.44,54.12 L27.44,70.44 L36.32,70.44 C44.48,70.44 47.48,67.32 47.48,61.92 Z M182.6,90 L127.88,90 L127.88,2.4 L181.4,2.4 L181.4,24.48 L155.96,24.48 L155.96,35.4 L177.32,35.4 L177.32,57.24 L155.96,57.24 L155.96,67.92 L182.6,67.92 L182.6,90 Z M337.76,90 L308.48,90 L308.48,47.28 L294.92,72.72 L281.6,72.72 L267.68,47.28 L267.68,90 L240.08,90 L240.08,2.4 L268.52,2.4 L288.44,37.32 L306.92,2.4 L337.76,2.4 L337.76,90 Z M487.64,46.08 C487.64,72.24 467.84,91.44 440.36,91.44 C412.88,91.44 393.32,72.48 393.32,46.32 C393.32,20.16 413.12,0.96 440.6,0.96 C468.08,0.96 487.64,19.92 487.64,46.08 Z M458.96,46.32 C458.96,33.72 451.04,24.24 440.36,24.24 C429.68,24.24 422,33.48 422,46.08 C422,58.68 429.92,68.16 440.6,68.16 C451.28,68.16 458.96,58.92 458.96,46.32 Z M655.76,2.4 L633.92,90 L604.76,90 L595.16,42.24 L585.56,90 L556.4,90 L534.56,2.4 L566.12,2.4 L573.32,49.44 L582.08,2.4 L610.64,2.4 L619.4,49.44 L626.6,2.4 L655.76,2.4 Z M797,46.08 C797,72.24 777.2,91.44 749.72,91.44 C722.24,91.44 702.68,72.48 702.68,46.32 C702.68,20.16 722.48,0.96 749.96,0.96 C777.44,0.96 797,19.92 797,46.08 Z M768.32,46.32 C768.32,33.72 760.4,24.24 749.72,24.24 C739.04,24.24 731.36,33.48 731.36,46.08 C731.36,58.68 739.28,68.16 749.96,68.16 C760.64,68.16 768.32,58.92 768.32,46.32 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
  height: 77%;
}
</style>
