<template>
  <svg
    viewBox="0 0 1070 112"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M73.4,65.16 C73.4,80.88 60.92,90 41.24,90 L0.08,90 L0.08,2.4 L38.36,2.4 C56.72,2.4 68.84,11.16 68.84,25.92 C68.84,34.68 63.2,41.76 55.64,44.64 C65.72,46.08 73.4,55.08 73.4,65.16 Z M43.88,29.76 C43.88,23.88 39.56,21.96 31.88,21.96 L27.44,21.96 L27.44,38.28 L31.88,38.28 C39.8,38.28 43.88,35.52 43.88,29.76 Z M47.48,61.92 C47.48,56.64 43.52,54.12 36.32,54.12 L27.44,54.12 L27.44,70.44 L36.32,70.44 C44.48,70.44 47.48,67.32 47.48,61.92 Z M157.4,90 L128.12,90 L128.12,2.4 L157.4,2.4 L157.4,90 Z M302.72,90 L273.32,90 L268.64,74.04 L242.96,74.04 L238.28,90 L210.32,90 L240.68,2.4 L272.36,2.4 L302.72,90 Z M262.4,52.92 L255.8,30.72 L249.2,52.92 L262.4,52.92 Z M358.16,90 L358.16,60.6 L353.72,62.4 L345.2,44.76 L358.16,39.72 L358.16,2.4 L385.28,2.4 L385.28,28.32 L398.48,22.92 L406.76,40.44 L385.28,49.32 L385.28,68.28 L414.44,68.28 L414.44,90 L358.16,90 Z M562.04,46.08 C562.04,72.24 542.24,91.44 514.76,91.44 C487.28,91.44 467.72,72.48 467.72,46.32 C467.72,20.16 487.52,0.96 515,0.96 C542.48,0.96 562.04,19.92 562.04,46.08 Z M533.36,46.32 C533.36,33.72 525.44,24.24 514.76,24.24 C504.08,24.24 496.4,33.48 496.4,46.08 C496.4,58.68 504.32,68.16 515,68.16 C525.68,68.16 533.36,58.92 533.36,46.32 Z M620.36,90 L620.36,60.6 L615.92,62.4 L607.4,44.76 L620.36,39.72 L620.36,2.4 L647.48,2.4 L647.48,28.32 L660.68,22.92 L668.96,40.44 L647.48,49.32 L647.48,68.28 L676.64,68.28 L676.64,90 L620.36,90 Z M788.24,96.24 L788.24,108 C787.64,108.36 783.44,111.48 775.64,111.48 C772.16,111.48 761.6,109.68 761.6,100.92 C761.6,96.48 764.96,92.64 768.8,90 L733.52,90 L733.52,2.4 L787.04,2.4 L787.04,24.48 L761.6,24.48 L761.6,35.4 L782.96,35.4 L782.96,57.24 L761.6,57.24 L761.6,67.92 L788.24,67.92 L788.24,90 C783.32,90.72 780.92,92.76 780.92,94.8 C780.92,96.6 782.12,97.2 784.16,97.2 C785.48,97.2 787.28,96.72 788.24,96.24 Z M930.2,90 L896.6,90 L878.72,58.2 L875,62.64 L875,90 L845.72,90 L845.72,2.4 L875,2.4 L875,27.96 L894.44,2.4 L928.64,2.4 L899,37.68 L930.2,90 Z M1069.16,90 L1039.76,90 L1035.08,74.04 L1009.4,74.04 L1004.72,90 L976.76,90 L1007.12,2.4 L1038.8,2.4 L1069.16,90 Z M1028.84,52.92 L1022.24,30.72 L1015.64,52.92 L1028.84,52.92 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
  height: 96%;
  margin-bottom: -.85em;

  @include media-down(xl) {
    margin-bottom: -2%;
  }
}
</style>
