<template>
  <svg
    viewBox="0 0 804 88"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M73.4,63.16 C73.4,78.88 60.92,88 41.24,88 L0.08,88 L0.08,0.4 L38.36,0.4 C56.72,0.4 68.84,9.16 68.84,23.92 C68.84,32.68 63.2,39.76 55.64,42.64 C65.72,44.08 73.4,53.08 73.4,63.16 Z M43.88,27.76 C43.88,21.88 39.56,19.96 31.88,19.96 L27.44,19.96 L27.44,36.28 L31.88,36.28 C39.8,36.28 43.88,33.52 43.88,27.76 Z M47.48,59.92 C47.48,54.64 43.52,52.12 36.32,52.12 L27.44,52.12 L27.44,68.44 L36.32,68.44 C44.48,68.44 47.48,65.32 47.48,59.92 Z M157.4,88 L128.12,88 L128.12,0.4 L157.4,0.4 L157.4,88 Z M271.52,88 L216.8,88 L216.8,0.4 L270.32,0.4 L270.32,22.48 L244.88,22.48 L244.88,33.4 L266.24,33.4 L266.24,55.24 L244.88,55.24 L244.88,65.92 L271.52,65.92 L271.52,88 Z M385.76,88 L329,88 L329,0.4 L357.08,0.4 L357.08,65.68 L385.76,65.68 L385.76,88 Z M528.32,88 L498.92,88 L494.24,72.04 L468.56,72.04 L463.88,88 L435.92,88 L466.28,0.4 L497.96,0.4 L528.32,88 Z M488,50.92 L481.4,28.72 L474.8,50.92 L488,50.92 Z M664.04,88 L641.36,88 L608.6,47.56 L608.6,88 L581,88 L581,0.4 L606.08,0.4 L636.44,37.96 L636.44,0.4 L664.04,0.4 L664.04,88 Z M803.36,0.4 L773.6,55.24 L773.6,88 L745.52,88 L745.52,55.24 L715.76,0.4 L746.84,0.4 L760.16,28.84 L773.48,0.4 L803.36,0.4 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
  height: 77%;
}
</style>
