<template>
  <svg
    viewBox="0 0 1365 133"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path d="M83.1,105V59.1L68.6,86.4H54.2l-15-27.3V105H9.6V10.8h30.6l21.4,37.5l19.9-37.5h33.2V105H83.1z"/>
    <path d="M229.3,105l-5-17.2h-27.6l-5,17.2h-30.1l32.6-94.2h34.1l32.6,94.2H229.3z M210.5,41.3l-7.1,23.9h14.2L210.5,41.3z"/>
    <path d="M349.3,81.7h36.9V105h-81.9l37.3-70.8h-32.6V10.8h77.7L349.3,81.7z"/>
    <path d="M479.2,106.5c-29.5,0-50.6-20.4-50.6-48.5c0-28.1,21.3-48.8,50.8-48.8C509,9.3,530,29.7,530,57.8 C530,85.9,508.7,106.5,479.2,106.5z M479.2,34.3c-11.5,0-19.7,9.9-19.7,23.5s8.5,23.7,20,23.7c11.5,0,19.7-9.9,19.7-23.5 S490.6,34.3,479.2,34.3z"/>
    <path d="M677.6,105h-31.3l-10.3-51.3L625.6,105h-31.3l-23.5-94.2h33.9l7.7,50.6l9.4-50.6h30.7l9.4,50.6l7.7-50.6H701 L677.6,105z"/>
    <path d="M748.5,105V10.8H780V105H748.5z"/>
    <path d="M834.2,105V10.8h57.5v23.7h-27.3v11.7h23v23.5h-23v11.5H893V105H834.2z"/>
    <path d="M990.4,106.5c-28.6,0-49.1-20.1-49.1-48.2c0-28.1,21.3-49,49.7-49c15.1,0,25.2,6.4,33.3,13.4l-15.5,21 c-5.3-5.2-10.3-8.8-18.4-8.8c-10.4,0-18.2,9-18.2,22.6c0,13.5,7.5,23.3,20,23.3c7,0,13.4-3.1,19-8.3l15.1,20.5 C1017.1,101,1006.9,106.5,990.4,106.5z"/>
    <path d="M1129.8,105l-19.2-34.2l-4,4.8V105h-31.5V10.8h31.5v27.5l20.9-27.5h36.8l-31.9,37.9L1166,105H1129.8z"/>
    <path d="M1212.4,105V10.8h31.5V105H1212.4z"/>
    <path d="M1298.1,105V10.8h57.5v23.7h-27.3v11.7h23v23.5h-23v11.5h28.6V105H1298.1z"/>
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
  height: 105%;
  margin-bottom: -1.9%;
}
</style>
