<template>
  <svg
    viewBox="0 0 948 119"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M97.76,117 L68.48,117 L68.48,74.28 L54.92,99.72 L41.6,99.72 L27.68,74.28 L27.68,117 L0.08,117 L0.08,29.4 L28.52,29.4 L48.44,64.32 L66.92,29.4 L97.76,29.4 L97.76,117 Z M247.64,73.08 C247.64,99.24 227.84,118.44 200.36,118.44 C172.88,118.44 153.32,99.48 153.32,73.32 C153.32,47.16 173.12,27.96 200.6,27.96 C228.08,27.96 247.64,46.92 247.64,73.08 Z M218.96,73.32 C218.96,60.72 211.04,51.24 200.36,51.24 C189.68,51.24 182,60.48 182,73.08 C182,85.68 189.92,95.16 200.6,95.16 C211.28,95.16 218.96,85.92 218.96,73.32 Z M387.68,117 L354.08,117 L336.2,85.2 L332.48,89.64 L332.48,117 L303.2,117 L303.2,29.4 L332.48,29.4 L332.48,54.96 L351.92,29.4 L386.12,29.4 L356.48,64.68 L387.68,117 Z M523.16,73.08 C523.16,99.24 503.36,118.44 475.88,118.44 C448.4,118.44 428.84,99.48 428.84,73.32 C428.84,47.16 448.64,27.96 476.12,27.96 C503.6,27.96 523.16,46.92 523.16,73.08 Z M494.48,73.32 C494.48,60.72 486.56,51.24 475.88,51.24 C465.2,51.24 457.52,60.48 457.52,73.08 C457.52,85.68 465.44,95.16 476.12,95.16 C486.8,95.16 494.48,85.92 494.48,73.32 Z M631.76,51.72 L614.36,51.72 L614.36,117 L586.28,117 L586.28,51.72 L568.88,51.72 L568.88,29.4 L631.76,29.4 L631.76,51.72 Z M777.08,73.08 C777.08,99.24 757.28,118.44 729.8,118.44 C702.32,118.44 682.76,99.48 682.76,73.32 C682.76,47.16 702.56,27.96 730.04,27.96 C757.52,27.96 777.08,46.92 777.08,73.08 Z M748.4,73.32 C748.4,60.72 740.48,51.24 729.8,51.24 C719.12,51.24 711.44,60.48 711.44,73.08 C711.44,85.68 719.36,95.16 730.04,95.16 C740.72,95.16 748.4,85.92 748.4,73.32 Z M735.08,21.84 L719.24,21.84 L727.04,0.6 L746.36,0.6 L735.08,21.84 Z M947.6,29.4 L925.76,117 L896.6,117 L887,69.24 L877.4,117 L848.24,117 L826.4,29.4 L857.96,29.4 L865.16,76.44 L873.92,29.4 L902.48,29.4 L911.24,76.44 L918.44,29.4 L947.6,29.4 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
}
</style>
