<template>
  <svg
    viewBox="0 0 752 92"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M94.8,46.08 C94.8,72.24 75,91.44 47.52,91.44 C20.04,91.44 0.48,72.48 0.48,46.32 C0.48,20.16 20.28,0.96 47.76,0.96 C75.24,0.96 94.8,19.92 94.8,46.08 Z M66.12,46.32 C66.12,33.72 58.2,24.24 47.52,24.24 C36.84,24.24 29.16,33.48 29.16,46.08 C29.16,58.68 37.08,68.16 47.76,68.16 C58.44,68.16 66.12,58.92 66.12,46.32 Z M225.72,78.96 C217.32,86.28 207.84,91.44 192.48,91.44 C165.84,91.44 146.76,72.72 146.76,46.56 C146.76,20.4 166.56,0.96 192.96,0.96 C207,0.96 216.36,6.96 223.92,13.44 L209.52,33 C204.6,28.2 199.92,24.84 192.36,24.84 C182.64,24.84 175.44,33.24 175.44,45.84 C175.44,58.44 182.4,67.56 194.04,67.56 C200.52,67.56 206.52,64.68 211.68,59.88 L225.72,78.96 Z M360.96,90 L331.68,90 L331.68,59.4 L309.6,59.4 L309.6,90 L280.32,90 L280.32,2.4 L309.6,2.4 L309.6,34.68 L331.68,34.68 L331.68,2.4 L360.96,2.4 L360.96,90 Z M510.84,46.08 C510.84,72.24 491.04,91.44 463.56,91.44 C436.08,91.44 416.52,72.48 416.52,46.32 C416.52,20.16 436.32,0.96 463.8,0.96 C491.28,0.96 510.84,19.92 510.84,46.08 Z M482.16,46.32 C482.16,33.72 474.24,24.24 463.56,24.24 C452.88,24.24 445.2,33.48 445.2,46.08 C445.2,58.68 453.12,68.16 463.8,68.16 C474.48,68.16 482.16,58.92 482.16,46.32 Z M619.44,24.72 L602.04,24.72 L602.04,90 L573.96,90 L573.96,24.72 L556.56,24.72 L556.56,2.4 L619.44,2.4 L619.44,24.72 Z M751.56,90 L722.16,90 L717.48,74.04 L691.8,74.04 L687.12,90 L659.16,90 L689.52,2.4 L721.2,2.4 L751.56,90 Z M711.24,52.92 L704.64,30.72 L698.04,52.92 L711.24,52.92 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
  height: 77%;
}
</style>
