<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 949.4 92.5"
    style="enable-background:new 0 0 949.4 92.5;"
    xml:space="preserve"
    class="district-name"
  >
    <path
      d="M71.6,30.5C71.6,48.6,59.2,60,39,60h-9.4v30H1V2.4h38C59,2.4,71.6,12.5,71.6,30.5z M44.4,30.9
      c0-5.5-3.2-7.6-9.2-7.6h-5.8v15.4h5.8C41.3,38.7,44.4,36,44.4,30.9z M201.2,90h-31.3L153.8,59V90h-28.3V2.4H162
      c20.8,0,33.1,9.5,33.1,27c0,11.6-6.1,20.5-14.9,24.4L201.2,90z M168.4,31.6c0-6.1-3.6-8.3-10.2-8.3h-4.7v16.8h4.7
      C165,40.1,168.4,37.2,168.4,31.6z M339.3,90h-29.4l-4.7-16h-25.7l-4.7,16h-28l30.4-87.6h31.7L339.3,90z M299,53l-6.6-22.2L285.8,53
      H299z M474.6,39.2c0,35.6-18.1,52.3-45.4,52.3c-26.6,0-45.7-18.7-45.7-44.9S403.4,1,429.8,1c17.3,0,27.1,6.2,34.1,13.9l-17.5,17.5
      c-4.9-4.8-9.6-7.6-17.2-7.6c-9.7,0-16.9,8.4-16.9,21c0,16,7.1,23.8,18.5,23.8c8.5,0,13.6-4,16.3-9.7h-19.3V39.2H474.6z M611.4,90
      H582l-4.7-16h-25.7L547,90h-28l30.4-87.6h31.7L611.4,90z M571.1,53l-6.6-22.2L557.9,53H571.1z M811.5,30.5
      c0,18.1-12.4,29.5-32.5,29.5h-9.4v30h-28.7V2.4h38C798.9,2.4,811.5,12.5,811.5,30.5z M784.4,30.9c0-5.5-3.2-7.6-9.2-7.6h-5.8v15.4
      h5.8C781.2,38.7,784.4,36,784.4,30.9z M948.4,90h-22.7L893,49.6V90h-27.6V2.4h25.1L920.8,40V2.4h27.6V90z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
  height: 77%;
}
</style>
