<template>
  <svg
    viewBox="0 0 1135 119"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M75.8,117 L44.48,117 L28.4,85.92 L28.4,117 L0.08,117 L0.08,29.4 L36.68,29.4 C57.44,29.4 69.8,38.88 69.8,56.4 C69.8,68.04 63.68,76.92 54.92,80.76 L75.8,117 Z M43.04,58.56 C43.04,52.44 39.44,50.28 32.84,50.28 L28.16,50.28 L28.16,67.08 L32.84,67.08 C39.68,67.08 43.04,64.2 43.04,58.56 Z M181.64,117 L126.92,117 L126.92,29.4 L180.44,29.4 L180.44,51.48 L155,51.48 L155,62.4 L176.36,62.4 L176.36,84.24 L155,84.24 L155,94.92 L181.64,94.92 L181.64,117 Z M336.8,117 L307.52,117 L307.52,74.28 L293.96,99.72 L280.64,99.72 L266.72,74.28 L266.72,117 L239.12,117 L239.12,29.4 L267.56,29.4 L287.48,64.32 L305.96,29.4 L336.8,29.4 L336.8,117 Z M469.28,92.16 C469.28,107.88 456.8,117 437.12,117 L395.96,117 L395.96,29.4 L434.24,29.4 C452.6,29.4 464.72,38.16 464.72,52.92 C464.72,61.68 459.08,68.76 451.52,71.64 C461.6,73.08 469.28,82.08 469.28,92.16 Z M439.76,56.76 C439.76,50.88 435.44,48.96 427.76,48.96 L423.32,48.96 L423.32,65.28 L427.76,65.28 C435.68,65.28 439.76,62.52 439.76,56.76 Z M443.36,88.92 C443.36,83.64 439.4,81.12 432.2,81.12 L423.32,81.12 L423.32,97.44 L432.2,97.44 C440.36,97.44 443.36,94.32 443.36,88.92 Z M578.48,117 L523.76,117 L523.76,29.4 L577.28,29.4 L577.28,51.48 L551.84,51.48 L551.84,62.4 L573.2,62.4 L573.2,84.24 L551.84,84.24 L551.84,94.92 L578.48,94.92 L578.48,117 Z M711.68,117 L680.36,117 L664.28,85.92 L664.28,117 L635.96,117 L635.96,29.4 L672.56,29.4 C693.32,29.4 705.68,38.88 705.68,56.4 C705.68,68.04 699.56,76.92 690.8,80.76 L711.68,117 Z M678.92,58.56 C678.92,52.44 675.32,50.28 668.72,50.28 L664.04,50.28 L664.04,67.08 L668.72,67.08 C675.56,67.08 678.92,64.2 678.92,58.56 Z M818.48,51.72 L801.08,51.72 L801.08,117 L773,117 L773,51.72 L755.6,51.72 L755.6,29.4 L818.48,29.4 L818.48,51.72 Z M963.8,73.08 C963.8,99.24 944,118.44 916.52,118.44 C889.04,118.44 869.48,99.48 869.48,73.32 C869.48,47.16 889.28,27.96 916.76,27.96 C944.24,27.96 963.8,46.92 963.8,73.08 Z M935.12,73.32 C935.12,60.72 927.2,51.24 916.52,51.24 C905.84,51.24 898.16,60.48 898.16,73.08 C898.16,85.68 906.08,95.16 916.76,95.16 C927.44,95.16 935.12,85.92 935.12,73.32 Z M921.8,21.84 L905.96,21.84 L913.76,0.6 L933.08,0.6 L921.8,21.84 Z M1134.32,29.4 L1112.48,117 L1083.32,117 L1073.72,69.24 L1064.12,117 L1034.96,117 L1013.12,29.4 L1044.68,29.4 L1051.88,76.44 L1060.64,29.4 L1089.2,29.4 L1097.96,76.44 L1105.16,29.4 L1134.32,29.4 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
}
</style>
