<template>
  <svg
    viewBox="0 0 1286 119"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M69.92,89.16 C69.92,106.68 56.72,118.44 35.6,118.44 C21.32,118.44 8.96,113.28 0.8,106.2 L12.44,87.6 C20.6,94.08 27.68,97.08 35.24,97.08 C39.44,97.08 42.44,95.28 42.44,92.28 C42.44,88.08 39.08,86.52 28.4,83.28 C12.44,78.36 4.4,71.52 4.4,57.12 C4.4,38.16 19.28,27.96 40.52,27.96 C51.92,27.96 63.08,32.16 68.96,36.84 L57.44,55.92 C51.44,51.6 45.92,49.32 39.44,49.32 C33.92,49.32 31.88,51.72 31.88,54.24 C31.88,57 33.92,58.68 45.44,62.04 C61.28,66.6 69.92,72.72 69.92,89.16 Z M47.24,21.84 L31.4,21.84 L39.2,0.6 L58.52,0.6 L47.24,21.84 Z M201.68,117 L170.36,117 L154.28,85.92 L154.28,117 L125.96,117 L125.96,29.4 L162.56,29.4 C183.32,29.4 195.68,38.88 195.68,56.4 C195.68,68.04 189.56,76.92 180.8,80.76 L201.68,117 Z M168.92,58.56 C168.92,52.44 165.32,50.28 158.72,50.28 L154.04,50.28 L154.04,67.08 L158.72,67.08 C165.56,67.08 168.92,64.2 168.92,58.56 Z M343.52,73.08 C343.52,99.24 323.72,118.44 296.24,118.44 C268.76,118.44 249.2,99.48 249.2,73.32 C249.2,47.16 269,27.96 296.48,27.96 C323.96,27.96 343.52,46.92 343.52,73.08 Z M314.84,73.32 C314.84,60.72 306.92,51.24 296.24,51.24 C285.56,51.24 277.88,60.48 277.88,73.08 C277.88,85.68 285.8,95.16 296.48,95.16 C307.16,95.16 314.84,85.92 314.84,73.32 Z M301.52,21.84 L285.68,21.84 L293.48,0.6 L312.8,0.6 L301.52,21.84 Z M481.4,73.08 C481.4,102 458.6,117 431.72,117 L399.08,117 L399.08,29.4 L431.72,29.4 C460.52,29.4 481.4,44.76 481.4,73.08 Z M452.6,73.08 C452.6,59.88 444.08,52.32 431.72,52.32 L427.16,52.32 L427.16,94.08 L431.72,94.08 C444.92,94.08 452.6,85.68 452.6,73.08 Z M634.64,117 L605.36,117 L605.36,74.28 L591.8,99.72 L578.48,99.72 L564.56,74.28 L564.56,117 L536.96,117 L536.96,29.4 L565.4,29.4 L585.32,64.32 L603.8,29.4 L634.64,29.4 L634.64,117 Z M723.32,117 L694.04,117 L694.04,29.4 L723.32,29.4 L723.32,117 Z M837.44,117 L782.72,117 L782.72,29.4 L836.24,29.4 L836.24,51.48 L810.8,51.48 L810.8,62.4 L832.16,62.4 L832.16,84.24 L810.8,84.24 L810.8,94.92 L837.44,94.92 L837.44,117 Z M958.76,89.16 C958.76,106.68 945.56,118.44 924.44,118.44 C910.16,118.44 897.8,113.28 889.64,106.2 L901.28,87.6 C909.44,94.08 916.52,97.08 924.08,97.08 C928.28,97.08 931.28,95.28 931.28,92.28 C931.28,88.08 927.92,86.52 917.24,83.28 C901.28,78.36 893.24,71.52 893.24,57.12 C893.24,38.16 908.12,27.96 929.36,27.96 C940.76,27.96 951.92,32.16 957.8,36.84 L946.28,55.92 C940.28,51.6 934.76,49.32 928.28,49.32 C922.76,49.32 920.72,51.72 920.72,54.24 C920.72,57 922.76,58.68 934.28,62.04 C950.12,66.6 958.76,72.72 958.76,89.16 Z M936.08,21.84 L920.24,21.84 L928.04,0.6 L947.36,0.6 L936.08,21.84 Z M1087.76,105.96 C1079.36,113.28 1069.88,118.44 1054.52,118.44 C1027.88,118.44 1008.8,99.72 1008.8,73.56 C1008.8,47.4 1028.6,27.96 1055,27.96 C1069.04,27.96 1078.4,33.96 1085.96,40.44 L1071.56,60 C1066.64,55.2 1061.96,51.84 1054.4,51.84 C1044.68,51.84 1037.48,60.24 1037.48,72.84 C1037.48,85.44 1044.44,94.56 1056.08,94.56 C1062.56,94.56 1068.56,91.68 1073.72,86.88 L1087.76,105.96 Z M1171.88,117 L1142.6,117 L1142.6,29.4 L1171.88,29.4 L1171.88,117 Z M1286,117 L1231.28,117 L1231.28,29.4 L1284.8,29.4 L1284.8,51.48 L1259.36,51.48 L1259.36,62.4 L1280.72,62.4 L1280.72,84.24 L1259.36,84.24 L1259.36,94.92 L1286,94.92 L1286,117 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
}
</style>
