<template>
  <svg
    viewBox="0 0 1027 119"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M63.4,51.72 L46,51.72 L46,117 L17.92,117 L17.92,51.72 L0.52,51.72 L0.52,29.4 L63.4,29.4 L63.4,51.72 Z M195.52,117 L166.12,117 L161.44,101.04 L135.76,101.04 L131.08,117 L103.12,117 L133.48,29.4 L165.16,29.4 L195.52,117 Z M155.2,79.92 L148.6,57.72 L142,79.92 L155.2,79.92 Z M323.92,117 L292.6,117 L276.52,85.92 L276.52,117 L248.2,117 L248.2,29.4 L284.8,29.4 C305.56,29.4 317.92,38.88 317.92,56.4 C317.92,68.04 311.8,76.92 303.04,80.76 L323.92,117 Z M291.16,58.56 C291.16,52.44 287.56,50.28 280.96,50.28 L276.28,50.28 L276.28,67.08 L280.96,67.08 C287.8,67.08 291.16,64.2 291.16,58.56 Z M460.72,66.12 C460.72,101.76 442.6,118.44 415.36,118.44 C388.72,118.44 369.64,99.72 369.64,73.56 C369.64,47.4 389.44,27.96 415.84,27.96 C433.12,27.96 442.96,34.2 449.92,41.88 L432.4,59.4 C427.48,54.6 422.8,51.84 415.24,51.84 C405.52,51.84 398.32,60.24 398.32,72.84 C398.32,88.8 405.4,96.6 416.8,96.6 C425.32,96.6 430.36,92.64 433.12,86.88 L413.8,86.88 L413.8,66.12 L460.72,66.12 Z M606.52,73.08 C606.52,99.24 586.72,118.44 559.24,118.44 C531.76,118.44 512.2,99.48 512.2,73.32 C512.2,47.16 532,27.96 559.48,27.96 C586.96,27.96 606.52,46.92 606.52,73.08 Z M577.84,73.32 C577.84,60.72 569.92,51.24 559.24,51.24 C548.56,51.24 540.88,60.48 540.88,73.08 C540.88,85.68 548.8,95.16 559.48,95.16 C570.16,95.16 577.84,85.92 577.84,73.32 Z M564.52,21.84 L548.68,21.84 L556.48,0.6 L575.8,0.6 L564.52,21.84 Z M777.04,29.4 L755.2,117 L726.04,117 L716.44,69.24 L706.84,117 L677.68,117 L655.84,29.4 L687.4,29.4 L694.6,76.44 L703.36,29.4 L731.92,29.4 L740.68,76.44 L747.88,29.4 L777.04,29.4 Z M884.68,117 L829.96,117 L829.96,29.4 L883.48,29.4 L883.48,51.48 L858.04,51.48 L858.04,62.4 L879.4,62.4 L879.4,84.24 L858.04,84.24 L858.04,94.92 L884.68,94.92 L884.68,117 Z M1026.64,117 L993.04,117 L975.16,85.2 L971.44,89.64 L971.44,117 L942.16,117 L942.16,29.4 L971.44,29.4 L971.44,54.96 L990.88,29.4 L1025.08,29.4 L995.44,64.68 L1026.64,117 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
}
</style>
