<template>
  <svg
    viewBox="0 0 596 92"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M85.2,49.68 C85.2,78.96 66.96,91.44 42.72,91.44 C18.48,91.44 0.24,78.96 0.24,49.68 L0.24,2.4 L29.52,2.4 L29.52,52.68 C29.52,62.16 34.56,68.16 42.72,68.16 C50.88,68.16 55.92,62.16 55.92,52.68 L55.92,2.4 L85.2,2.4 L85.2,49.68 Z M219.24,90 L187.92,90 L171.84,58.92 L171.84,90 L143.52,90 L143.52,2.4 L180.12,2.4 C200.88,2.4 213.24,11.88 213.24,29.4 C213.24,41.04 207.12,49.92 198.36,53.76 L219.24,90 Z M186.48,31.56 C186.48,25.44 182.88,23.28 176.28,23.28 L171.6,23.28 L171.6,40.08 L176.28,40.08 C183.12,40.08 186.48,37.2 186.48,31.56 Z M334.2,62.16 C334.2,79.68 321,91.44 299.88,91.44 C285.6,91.44 273.24,86.28 265.08,79.2 L276.72,60.6 C284.88,67.08 291.96,70.08 299.52,70.08 C303.72,70.08 306.72,68.28 306.72,65.28 C306.72,61.08 303.36,59.52 292.68,56.28 C276.72,51.36 268.68,44.52 268.68,30.12 C268.68,11.16 283.56,0.96 304.8,0.96 C316.2,0.96 327.36,5.16 333.24,9.84 L321.72,28.92 C315.72,24.6 310.2,22.32 303.72,22.32 C298.2,22.32 296.16,24.72 296.16,27.24 C296.16,30 298.2,31.68 309.72,35.04 C325.56,39.6 334.2,45.72 334.2,62.16 Z M473.16,49.68 C473.16,78.96 454.92,91.44 430.68,91.44 C406.44,91.44 388.2,78.96 388.2,49.68 L388.2,2.4 L417.48,2.4 L417.48,52.68 C417.48,62.16 422.52,68.16 430.68,68.16 C438.84,68.16 443.88,62.16 443.88,52.68 L443.88,2.4 L473.16,2.4 L473.16,49.68 Z M595.32,62.16 C595.32,79.68 582.12,91.44 561,91.44 C546.72,91.44 534.36,86.28 526.2,79.2 L537.84,60.6 C546,67.08 553.08,70.08 560.64,70.08 C564.84,70.08 567.84,68.28 567.84,65.28 C567.84,61.08 564.48,59.52 553.8,56.28 C537.84,51.36 529.8,44.52 529.8,30.12 C529.8,11.16 544.68,0.96 565.92,0.96 C577.32,0.96 588.48,5.16 594.36,9.84 L582.84,28.92 C576.84,24.6 571.32,22.32 564.84,22.32 C559.32,22.32 557.28,24.72 557.28,27.24 C557.28,30 559.32,31.68 570.84,35.04 C586.68,39.6 595.32,45.72 595.32,62.16 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
  height: 77%;
}
</style>
