<template>
  <svg
    viewBox="0 0 922 119"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M85.2,76.68 C85.2,105.96 66.96,118.44 42.72,118.44 C18.48,118.44 0.24,105.96 0.24,76.68 L0.24,29.4 L29.52,29.4 L29.52,79.68 C29.52,89.16 34.56,95.16 42.72,95.16 C50.88,95.16 55.92,89.16 55.92,79.68 L55.92,29.4 L85.2,29.4 L85.2,76.68 Z M219.24,117 L187.92,117 L171.84,85.92 L171.84,117 L143.52,117 L143.52,29.4 L180.12,29.4 C200.88,29.4 213.24,38.88 213.24,56.4 C213.24,68.04 207.12,76.92 198.36,80.76 L219.24,117 Z M186.48,58.56 C186.48,52.44 182.88,50.28 176.28,50.28 L171.6,50.28 L171.6,67.08 L176.28,67.08 C183.12,67.08 186.48,64.2 186.48,58.56 Z M334.2,89.16 C334.2,106.68 321,118.44 299.88,118.44 C285.6,118.44 273.24,113.28 265.08,106.2 L276.72,87.6 C284.88,94.08 291.96,97.08 299.52,97.08 C303.72,97.08 306.72,95.28 306.72,92.28 C306.72,88.08 303.36,86.52 292.68,83.28 C276.72,78.36 268.68,71.52 268.68,57.12 C268.68,38.16 283.56,27.96 304.8,27.96 C316.2,27.96 327.36,32.16 333.24,36.84 L321.72,55.92 C315.72,51.6 310.2,49.32 303.72,49.32 C298.2,49.32 296.16,51.72 296.16,54.24 C296.16,57 298.2,58.68 309.72,62.04 C325.56,66.6 334.2,72.72 334.2,89.16 Z M466.8,29.4 L437.04,84.24 L437.04,117 L408.96,117 L408.96,84.24 L379.2,29.4 L410.28,29.4 L423.6,57.84 L436.92,29.4 L466.8,29.4 Z M601.56,117 L578.88,117 L546.12,76.56 L546.12,117 L518.52,117 L518.52,29.4 L543.6,29.4 L573.96,66.96 L573.96,29.4 L601.56,29.4 L601.56,117 Z M751.44,73.08 C751.44,99.24 731.64,118.44 704.16,118.44 C676.68,118.44 657.12,99.48 657.12,73.32 C657.12,47.16 676.92,27.96 704.4,27.96 C731.88,27.96 751.44,46.92 751.44,73.08 Z M722.76,73.32 C722.76,60.72 714.84,51.24 704.16,51.24 C693.48,51.24 685.8,60.48 685.8,73.08 C685.8,85.68 693.72,95.16 704.4,95.16 C715.08,95.16 722.76,85.92 722.76,73.32 Z M709.44,21.84 L693.6,21.84 L701.4,0.6 L720.72,0.6 L709.44,21.84 Z M921.96,29.4 L900.12,117 L870.96,117 L861.36,69.24 L851.76,117 L822.6,117 L800.76,29.4 L832.32,29.4 L839.52,76.44 L848.28,29.4 L876.84,29.4 L885.6,76.44 L892.8,29.4 L921.96,29.4 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
}
</style>
