<template>
  <svg
    viewBox="0 0 653 88"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M122.04,0.4 L100.2,88 L71.04,88 L61.44,40.24 L51.84,88 L22.68,88 L0.84,0.4 L32.4,0.4 L39.6,47.44 L48.36,0.4 L76.92,0.4 L85.68,47.44 L92.88,0.4 L122.04,0.4 Z M252.72,88 L223.32,88 L218.64,72.04 L192.96,72.04 L188.28,88 L160.32,88 L190.68,0.4 L222.36,0.4 L252.72,88 Z M212.4,50.92 L205.8,28.72 L199.2,50.92 L212.4,50.92 Z M412.08,0.4 L390.24,88 L361.08,88 L351.48,40.24 L341.88,88 L312.72,88 L290.88,0.4 L322.44,0.4 L329.64,47.44 L338.4,0.4 L366.96,0.4 L375.72,47.44 L382.92,0.4 L412.08,0.4 Z M519.72,88 L465,88 L465,0.4 L518.52,0.4 L518.52,22.48 L493.08,22.48 L493.08,33.4 L514.44,33.4 L514.44,55.24 L493.08,55.24 L493.08,65.92 L519.72,65.92 L519.72,88 Z M652.92,88 L621.6,88 L605.52,56.92 L605.52,88 L577.2,88 L577.2,0.4 L613.8,0.4 C634.56,0.4 646.92,9.88 646.92,27.4 C646.92,39.04 640.8,47.92 632.04,51.76 L652.92,88 Z M620.16,29.56 C620.16,23.44 616.56,21.28 609.96,21.28 L605.28,21.28 L605.28,38.08 L609.96,38.08 C616.8,38.08 620.16,35.2 620.16,29.56 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
  height: 77%;
}
</style>
