<template>
  <svg
    viewBox="0 0 753 92"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M122.04,2.4 L100.2,90 L71.04,90 L61.44,42.24 L51.84,90 L22.68,90 L0.84,2.4 L32.4,2.4 L39.6,49.44 L48.36,2.4 L76.92,2.4 L85.68,49.44 L92.88,2.4 L122.04,2.4 Z M229.68,90 L174.96,90 L174.96,2.4 L228.48,2.4 L228.48,24.48 L203.04,24.48 L203.04,35.4 L224.4,35.4 L224.4,57.24 L203.04,57.24 L203.04,67.92 L229.68,67.92 L229.68,90 Z M351,62.16 C351,79.68 337.8,91.44 316.68,91.44 C302.4,91.44 290.04,86.28 281.88,79.2 L293.52,60.6 C301.68,67.08 308.76,70.08 316.32,70.08 C320.52,70.08 323.52,68.28 323.52,65.28 C323.52,61.08 320.16,59.52 309.48,56.28 C293.52,51.36 285.48,44.52 285.48,30.12 C285.48,11.16 300.36,0.96 321.6,0.96 C333,0.96 344.16,5.16 350.04,9.84 L338.52,28.92 C332.52,24.6 327,22.32 320.52,22.32 C315,22.32 312.96,24.72 312.96,27.24 C312.96,30 315,31.68 326.52,35.04 C342.36,39.6 351,45.72 351,62.16 Z M495.36,46.08 C495.36,72.24 475.56,91.44 448.08,91.44 C420.6,91.44 401.04,72.48 401.04,46.32 C401.04,20.16 420.84,0.96 448.32,0.96 C475.8,0.96 495.36,19.92 495.36,46.08 Z M466.68,46.32 C466.68,33.72 458.76,24.24 448.08,24.24 C437.4,24.24 429.72,33.48 429.72,46.08 C429.72,58.68 437.64,68.16 448.32,68.16 C459,68.16 466.68,58.92 466.68,46.32 Z M553.68,90 L553.68,60.6 L549.24,62.4 L540.72,44.76 L553.68,39.72 L553.68,2.4 L580.8,2.4 L580.8,28.32 L594,22.92 L602.28,40.44 L580.8,49.32 L580.8,68.28 L609.96,68.28 L609.96,90 L553.68,90 Z M752.76,90 L723.36,90 L718.68,74.04 L693,74.04 L688.32,90 L660.36,90 L690.72,2.4 L722.4,2.4 L752.76,90 Z M712.44,52.92 L705.84,30.72 L699.24,52.92 L712.44,52.92 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
  height: 77%;
}
</style>
