<template>
  <svg
    viewBox="0 0 920 119"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M122.04,29.4 L100.2,117 L71.04,117 L61.44,69.24 L51.84,117 L22.68,117 L0.84,29.4 L32.4,29.4 L39.6,76.44 L48.36,29.4 L76.92,29.4 L85.68,76.44 L92.88,29.4 L122.04,29.4 Z M204.48,117 L175.2,117 L175.2,29.4 L204.48,29.4 L204.48,117 Z M320.64,117 L263.88,117 L263.88,29.4 L291.96,29.4 L291.96,94.68 L320.64,94.68 L320.64,117 Z M463.2,117 L433.8,117 L429.12,101.04 L403.44,101.04 L398.76,117 L370.8,117 L401.16,29.4 L432.84,29.4 L463.2,117 Z M422.88,79.92 L416.28,57.72 L409.68,79.92 L422.88,79.92 Z M598.92,117 L576.24,117 L543.48,76.56 L543.48,117 L515.88,117 L515.88,29.4 L540.96,29.4 L571.32,66.96 L571.32,29.4 L598.92,29.4 L598.92,117 Z M748.8,73.08 C748.8,99.24 729,118.44 701.52,118.44 C674.04,118.44 654.48,99.48 654.48,73.32 C654.48,47.16 674.28,27.96 701.76,27.96 C729.24,27.96 748.8,46.92 748.8,73.08 Z M720.12,73.32 C720.12,60.72 712.2,51.24 701.52,51.24 C690.84,51.24 683.16,60.48 683.16,73.08 C683.16,85.68 691.08,95.16 701.76,95.16 C712.44,95.16 720.12,85.92 720.12,73.32 Z M706.8,21.84 L690.96,21.84 L698.76,0.6 L718.08,0.6 L706.8,21.84 Z M919.32,29.4 L897.48,117 L868.32,117 L858.72,69.24 L849.12,117 L819.96,117 L798.12,29.4 L829.68,29.4 L836.88,76.44 L845.64,29.4 L874.2,29.4 L882.96,76.44 L890.16,29.4 L919.32,29.4 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
}
</style>
