<template>
  <svg
    viewBox="0 0 788 92"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M122.04,2.4 L100.2,90 L71.04,90 L61.44,42.24 L51.84,90 L22.68,90 L0.84,2.4 L32.4,2.4 L39.6,49.44 L48.36,2.4 L76.92,2.4 L85.68,49.44 L92.88,2.4 L122.04,2.4 Z M177.72,90 L177.72,60.6 L173.28,62.4 L164.76,44.76 L177.72,39.72 L177.72,2.4 L204.84,2.4 L204.84,28.32 L218.04,22.92 L226.32,40.44 L204.84,49.32 L204.84,68.28 L234,68.28 L234,90 L177.72,90 Z M381.6,46.08 C381.6,72.24 361.8,91.44 334.32,91.44 C306.84,91.44 287.28,72.48 287.28,46.32 C287.28,20.16 307.08,0.96 334.56,0.96 C362.04,0.96 381.6,19.92 381.6,46.08 Z M352.92,46.32 C352.92,33.72 345,24.24 334.32,24.24 C323.64,24.24 315.96,33.48 315.96,46.08 C315.96,58.68 323.88,68.16 334.56,68.16 C345.24,68.16 352.92,58.92 352.92,46.32 Z M512.52,78.96 C504.12,86.28 494.64,91.44 479.28,91.44 C452.64,91.44 433.56,72.72 433.56,46.56 C433.56,20.4 453.36,0.96 479.76,0.96 C493.8,0.96 503.16,6.96 510.72,13.44 L496.32,33 C491.4,28.2 486.72,24.84 479.16,24.84 C469.44,24.84 462.24,33.24 462.24,45.84 C462.24,58.44 469.2,67.56 480.84,67.56 C487.32,67.56 493.32,64.68 498.48,59.88 L512.52,78.96 Z M647.76,90 L618.48,90 L618.48,59.4 L596.4,59.4 L596.4,90 L567.12,90 L567.12,2.4 L596.4,2.4 L596.4,34.68 L618.48,34.68 L618.48,2.4 L647.76,2.4 L647.76,90 Z M787.08,2.4 L757.32,57.24 L757.32,90 L729.24,90 L729.24,57.24 L699.48,2.4 L730.56,2.4 L743.88,30.84 L757.2,2.4 L787.08,2.4 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
  height: 77%;
}
</style>
