<template>
  <svg
    viewBox="0 0 519 92"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M122.04,2.4 L100.2,90 L71.04,90 L61.44,42.24 L51.84,90 L22.68,90 L0.84,2.4 L32.4,2.4 L39.6,49.44 L48.36,2.4 L76.92,2.4 L85.68,49.44 L92.88,2.4 L122.04,2.4 Z M263.28,46.08 C263.28,72.24 243.48,91.44 216,91.44 C188.52,91.44 168.96,72.48 168.96,46.32 C168.96,20.16 188.76,0.96 216.24,0.96 C243.72,0.96 263.28,19.92 263.28,46.08 Z M234.6,46.32 C234.6,33.72 226.68,24.24 216,24.24 C205.32,24.24 197.64,33.48 197.64,46.08 C197.64,58.68 205.56,68.16 216.24,68.16 C226.92,68.16 234.6,58.92 234.6,46.32 Z M375.6,90 L318.84,90 L318.84,2.4 L346.92,2.4 L346.92,67.68 L375.6,67.68 L375.6,90 Z M518.16,90 L488.76,90 L484.08,74.04 L458.4,74.04 L453.72,90 L425.76,90 L456.12,2.4 L487.8,2.4 L518.16,90 Z M477.84,52.92 L471.24,30.72 L464.64,52.92 L477.84,52.92 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
  height: 77%;
}
</style>
