<template>
  <svg
    viewBox="0 0 951 116"
    xmlns="http://www.w3.org/2000/svg"
    class="district-name"
  >
    <path
      d="M77.2,26.4 L42.52,92.28 L76.84,92.28 L76.84,114 L0.64,114 L35.32,48.12 L4.96,48.12 L4.96,26.4 L77.2,26.4 Z M31.84,18.84 L31.84,0.36 L51.76,0.36 L51.76,18.84 L31.84,18.84 Z M219.64,70.08 C219.64,96.24 199.84,115.44 172.36,115.44 C144.88,115.44 125.32,96.48 125.32,70.32 C125.32,44.16 145.12,24.96 172.6,24.96 C200.08,24.96 219.64,43.92 219.64,70.08 Z M190.96,70.32 C190.96,57.72 183.04,48.24 172.36,48.24 C161.68,48.24 154,57.48 154,70.08 C154,82.68 161.92,92.16 172.6,92.16 C183.28,92.16 190.96,82.92 190.96,70.32 Z M331.96,114 L275.2,114 L275.2,26.4 L303.28,26.4 L303.28,91.68 L331.96,91.68 L331.96,114 Z M417.04,114 L387.76,114 L387.76,26.4 L417.04,26.4 L417.04,114 Z M549.76,89.16 C549.76,104.88 537.28,114 517.6,114 L476.44,114 L476.44,26.4 L514.72,26.4 C533.08,26.4 545.2,35.16 545.2,49.92 C545.2,58.68 539.56,65.76 532,68.64 C542.08,70.08 549.76,79.08 549.76,89.16 Z M520.24,53.76 C520.24,47.88 515.92,45.96 508.24,45.96 L503.8,45.96 L503.8,62.28 L508.24,62.28 C516.16,62.28 520.24,59.52 520.24,53.76 Z M523.84,85.92 C523.84,80.64 519.88,78.12 512.68,78.12 L503.8,78.12 L503.8,94.44 L512.68,94.44 C520.84,94.44 523.84,91.32 523.84,85.92 Z M694.96,70.08 C694.96,96.24 675.16,115.44 647.68,115.44 C620.2,115.44 600.64,96.48 600.64,70.32 C600.64,44.16 620.44,24.96 647.92,24.96 C675.4,24.96 694.96,43.92 694.96,70.08 Z M666.28,70.32 C666.28,57.72 658.36,48.24 647.68,48.24 C637,48.24 629.32,57.48 629.32,70.08 C629.32,82.68 637.24,92.16 647.92,92.16 C658.6,92.16 666.28,82.92 666.28,70.32 Z M826.24,114 L794.92,114 L778.84,82.92 L778.84,114 L750.52,114 L750.52,26.4 L787.12,26.4 C807.88,26.4 820.24,35.88 820.24,53.4 C820.24,65.04 814.12,73.92 805.36,77.76 L826.24,114 Z M793.48,55.56 C793.48,49.44 789.88,47.28 783.28,47.28 L778.6,47.28 L778.6,64.08 L783.28,64.08 C790.12,64.08 793.48,61.2 793.48,55.56 Z M950.56,26.4 L915.88,92.28 L950.2,92.28 L950.2,114 L874,114 L908.68,48.12 L878.32,48.12 L878.32,26.4 L950.56,26.4 Z"
    />
  </svg>
</template>

<style lang="scss" scoped>
.district-name {
  @include district-name;
}
</style>
